@import "../../../material/vars";
@keyframes popout {
	from {
		transform: scale(0.001);
	}
	to {
		transform: scale(1.0);
	}
}
.MessageTile {
	width: 100%;
	background: white;
	padding: 5px 20px;
	animation: popout 0.5s;
	.author {
		font-weight: bold;
		&.reply {
			color: $mainColor;
		}
	}
	.date {
		font-style: italic;
		color: #999;
		margin-bottom: 10px;
		font-size: 10px;
	}
	.text {
		
	}
}