@import "../../../material/vars.scss";
.OrganizacjaUser {
	display      : flex;
	flex-flow    : row nowrap;
	margin       : 0 20px;
	padding      : 20px 0;
	background   : white;
	border-bottom: 1px solid lighten($topColor,60%);
	.Name {
		
	}
	.Delete {
		margin-left: auto;
		color      : $red;
	}
}