@import "../vars.scss";
@keyframes deli {
  0% {
    margin-left: -150px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes alerts {
  0% {
    opacity: 0.0;
  }
  10% {
    opacity: 1.0;
  }
  90% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}
.App {
  background-color: white;
  height          : 100%;
  width           : 100%;
  display         : flex;
  flex-flow       : column nowrap;
  .Home{
    margin: auto;
    .WelcomeMessage{
     width: 480px;
     font: 24px/48px sans-serif;
     color:#333;
    }
  }
  .Alerts {
    position   : absolute;
    z-index    : 30;
    display    : flex;
    align-items: flex-start;
    flex-wrap  : wrap;
    .Alert {
      padding   : 30px;
      margin    : 30px;
      background: white;
      animation : alerts forwards 3s;
    }
  }
}
.Demo{

  input,textarea,.Select{
  }
}