@import '../../vars.scss';

.Modal{
  display: none;
  position: fixed;
  z-index: 20;
  right: 0;
  top:0;
  width: 100%;
  height:100%;
  background: rgba(255,255,255,0.9);
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  &.open{
    display: flex;
  }

  .Dialog{
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
    flex:1;
    margin: 30px 60px;
    background: #fff;
    .ModalHeader{
      min-width: 320px;
      padding: 20px;
      background: $main-color;
      color: #fff;
      font-weight: lighter;
      display: flex;
      flex-flow: column nowrap;
      .Close{
        margin-right: auto;
        width: 36px;
        height:36px;
        line-height: 24px;
        border: solid 1px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover{
          color:red;
        }
      }
      span{
        margin-top:36px;  
        line-height: 64px;
        font-size: 36px;
        text-align: center;
      }
    }
    .ModalBody{
      flex:1;
      overflow-y: auto;
      padding: 20px;
      .FormGen{
        display: flex;
        flex-flow: column nowrap;
        input,
        textarea {
          margin: 10px 0;
          padding: 15px;
          outline: none;
          font-size: 15px;
          appearance: none;
          border:0;
          border: 1px solid $color-four;
          border-radius: 3px;
          width: 100%;
          box-sizing: border-box;
          &::placeholder {
            color: $color-three;
          }
        }

        .formgenFile {

          .file_holder {
            margin: 10px 0;
            word-break: break-all;
            text-decoration: none;
            color: $color-one;
            display: block;
            transition: 0.35s ease-out;

            &:hover {
              color: $main-color;
            }
          }
        }

        .Select-control {
          height: 50px;
          border-radius: 0;
          border: 1px solid $color-three;
          margin-bottom: 5px;

          .Select-multi-value-wrapper {

            input {
              border: 0;
            }

            .Select-value-label {
              position: relative;
              top: 8px;
            }
          }
        }

        .Submit{
          background: #333;
          color: white;
          align-self: flex-end;
          padding: 10px 20px;
          margin-top: 15px;
          cursor: pointer;
        }
      }
    }
    .ModalFooter{
    }
  }
}
