@import '../vars.scss';

.SyncanoAdmin {
  background: #fff;
  color:#333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Lato', sans-serif;

  .SyncanoLogin {
    width:320px;
    margin: auto;

    .SyncanoInstanceName {
      color:#777;
      padding: 10px;
    }

    .FormGen {
      display: flex;
      flex-flow: column nowrap;

      input {
        margin-bottom: 10px;
        padding:15px;
        border: 0;
        border-bottom: 2px solid $main-color;
        width: 100%;
        box-sizing: border-box;
      }

      .Submit {
        cursor: pointer;
        background: $main-color;
        align-self: flex-end;
        padding: 10px;
        color:white;
      }
    }
  }

  .open-categories {
    display: none;
  }

  .SyncanoCategories {
    display: flex;
    flex-flow: column nowrap;
    min-width: 200px;
    background: $color-one;
    color: $color-two;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
    z-index: 9;
    .Models, .Settings{
      display: flex;
      flex-flow: column nowrap
    }
    .Models{
      background: $menu-models;
    }
    .Settings{
      background: $menu-settings;
    }
    .SyncanoCategoryTitle{
      font-weight: 700;
      color:$color-white;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      padding: 15px 30px;
    }
    .SyncanoCategory {
      padding: 15px 30px;
      color: $color-two;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 200;
      font-family: 'Lato', sans-serif;
      transition: .35s ease-out;
      letter-spacing: 2px;

      &:hover {
        background: $color-two;
        color: $color-one;
      }
    }
  }

  .SyncanoContainer {
    padding-left: 200px;
    width: 100%;

  }



  @media (max-width: 767px) {

    .SyncanoCategories {
      display: none;

      &.show-categories {
        display: flex;
        padding-top: 65px;
      }
    }

    .open-categories {
      background: $color-one;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      padding: 15px;
      cursor: pointer;
      z-index: 10;
      transition: .35s ease-out;

      &.arrow-toggle {
        transform: rotate(180deg);
        left: 140px;
      }
    }

    .SyncanoContainer {
      padding-left: 0;
    }
  }

  @media (max-width: 420px) {

    .SyncanoLogin {

      .SyncanoInstanceName {
        margin: 0 15px;
      }

      .FormGen {
        margin: 0 15px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}
