@import '../vars.scss';

.SyncanoAdmin {
  background: #fff;
  color:#333;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Lato', sans-serif;

  .SyncanoLogin {
    width:320px;
    margin: auto;

    .SyncanoInstanceName {
      color:#777;
      padding: 10px;
    }

    .FormGen {
      display: flex;
      flex-flow: column nowrap;

      input {
        margin-bottom: 10px;
        padding:10px;
        border: 0;
        border-bottom: 2px solid $main-color;
        width: 100%;
        box-sizing: border-box;
      }

      .Submit {
        cursor: pointer;
        background: $main-color;
        align-self: flex-end;
        padding: 10px;
        color:white;
      }
    }
  }

  .open-categories {
    display: none;
  }

  .SyncanoCategories {
    display: flex;
    flex-flow: column nowrap;
    min-width: 200px;
    background: $color-one;
    color: $color-two;
    box-sizing: border-box;
    padding: 30px 0;
    position: fixed;
    height: 100%;
    z-index: 9;

    .SyncanoCategory {
      padding: 15px 30px;
      color: $color-two;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 200;
      font-family: 'Lato', sans-serif;
      transition: .35s ease-out;
      letter-spacing: 2px;

      &:hover {
        background: $color-two;
        color: $color-one;
      }
    }
  }

  .SyncanoContainer {
    padding-left: 200px;
    width: 100%;

    .SyncanoNavigation {
      display: flex;
      justify-content: space-between;
      background: $color-three;
      width: 100%;
      min-height: 50px;

      .hamburger {
        display: none;
        position: relative;
        margin: 0 0 0 auto;
        width: 24px;
        height: 25px;
        padding: 17.5px 24px;
        transition: .5s ease-out;
        cursor: pointer;
        z-index: 4;

        .bar {
          height: 3px;
          width: 50%;
          background-color: $color-two;
          display: block;
          margin: 1px;
          transition: .5s ease-out;

          &:nth-child(odd) {
            border-radius: 9px 0 0 9px;
          }

          &:nth-child(even) {
            border-radius: 0 9px 9px 0;
            transform: translate(12px, -4px);
          }
        }
      }

      .SyncanoNavContainer {
        display: flex;

        .SyncanoLink {
          padding: 10px 30px;
          line-height: 50px;
          text-transform: uppercase;
          cursor: pointer;
          transition: .35s ease-out;

          &:hover {
            background: $color-two;
            color: $color-one;
          }
        }
      }

      .UserSettings {
        font-size: 15px;
        display: flex;
        line-height: 50px;
        text-transform: uppercase;
        background: $color-four;
        cursor: pointer;

        .logOut, {
          padding: 10px 30px;
        }

        .changePassword {
          padding: 10px 20px;
          white-space: nowrap;
        }
      }
    }

    .SyncanoList {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      max-height: 100%;
      overflow: auto;
      padding: 10px;

      .SyncanoObject {
        margin: 5px;
        padding: 10px 12px 10px 20px;
        background: $color-four;
        display: flex;

        .displayName {
          cursor: pointer;
          transition: .25s ease-out;

          &:hover {
            color: $main-color;
          }
        }

        .deleteButton {
          cursor: pointer;
          margin-left: 15px;
          background: $color-four;
          transition: .25s ease-out;

          &:hover{
            color: $color-five;
          }
        }
      }
    }
  }

  @media (max-width: 1279px) {

    .SyncanoContainer {

      .SyncanoNavigation {

        .UserSettings {

          .logOut {
            padding: 10px 0 10px 20px;
          }

          .changePassword {
            padding: 10px 15px;
          }
        }

        .SyncanoNavContainer {

          .SyncanoLink {
            padding: 10px 15px;
          }
        }
      }
    }
  }

  @media (max-width: 1023px) {

    .SyncanoContainer {

      .SyncanoNavigation {
        flex-direction: column;

        .SyncanoNavContainer {
          order: 2;
        }

        .UserSettings {
          order: 1;
          justify-content: flex-end;
        }
      }
    }
  }

  @media (max-width: 767px) {

    .SyncanoCategories {
      display: none;

      &.show-categories {
        display: flex;
        padding-top: 65px;
      }
    }

    .open-categories {
      background: $color-one;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      padding: 15px;
      cursor: pointer;
      z-index: 10;
      transition: .35s ease-out;

      &.arrow-toggle {
        transform: rotate(180deg);
        left: 140px;
      }
    }

    .SyncanoContainer {
      padding-left: 0;

      .SyncanoNavigation {

        &.open {

            .UserSettings {
              display: block;
            }

            .SyncanoNavContainer {
              display: block;
            }
        }

        .UserSettings {
          flex-direction: column;
          text-align: right;
          display: none;

          .logOut {
            border-bottom: 2px solid $color-three;
            padding: 10px 15px;
          }
        }

        .SyncanoNavContainer {
          flex-direction: column;
          text-align: right;
          display: none;

          .SyncanoLink {
            border-bottom: 2px solid $color-four;
          }
        }

        .hamburger {
          display: block;

          &.toggle {

            .bar {

              &:nth-child(1) {
                transform: translate(1px, 5px) rotate(45deg);
              }

              &:nth-child(2) {
                transform: translate(9px, 1px) rotate(-45deg);
              }

              &:nth-child(3) {
                transform: translate(-12px, 0);
                opacity: 0;
              }

              &:nth-child(4) {
                transform: translate(24px, -4px);
                opacity: 0;
              }

              &:nth-child(5) {
                transform: translate(1px, -3px) rotate(-45deg);
              }

              &:nth-child(6) {
                transform: translate(9px, -7px) rotate(45deg);
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 420px) {

    .SyncanoLogin {

      .SyncanoInstanceName {
        margin: 0 15px;
      }

      .FormGen {
        margin: 0 15px;
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
}
