@import '../varsSyncano.scss';

.SyncanoAdmin {
  background: url('../images/backgroundAdmin.jpg') center center no-repeat;
  background-position: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Roboto', sans-serif;

  &.ContentAdmin {
    background: $syncano-admin-color-one;
  }

  .SyncanoLogin {
    width:320px;
    margin: auto;

    .Logo {
      padding-bottom: 20px;

      img {
        display: block;
        width: 60px;
        height: auto;
        margin: 0 auto;
      }
    }

    .SyncanoInstanceName {
      color: $syncano-admin-color-two;
      padding: 15px;
      font-weight: 300;
      text-align: center;
      font-size: 16px;
    }

    .FormGen {
      display: flex;
      flex-flow: column nowrap;

      .FieldWrapper {
        border: 1px solid $syncano-admin-color-two;
        border-radius: 50px;
        margin-bottom: 20px;
        background: $syncano-admin-color-three;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 45px;
          height: 45px;
          border-radius: 100%;
          top: 5px;
          left: 5px;
          background: $syncano-admin-color-two;
          background-repeat: no-repeat;
          background-position: center center;
        }

        &:nth-child(1) {
          &::after {
            background-image: url('../images/close-envelope.png');
            background-size: 20px 20px;
          }
        }

        &:nth-child(2) {
          &::after {
            background-image: url('../images/lock.png');
            background-size: 20px 20px;
          }
        }
      }

      input {
        background: transparent;
        height: 55px;
        padding:15px;
        padding-left: 65px;
        border: 0;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border-radius: none;
        box-shadow: none;
        appearance: none;
        -webkit-appearance: none;
        color: $syncano-admin-color-two;
        font-size: 15px;
        margin: 0;

        &:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px #fff inset;
          border-radius: 50px;
          background-color: transparent;
        }

        &::placeholder {
          color: $syncano-admin-color-two;
          font-weight: 300;
          text-transform: capitalize;
        }
      }

      .Submit {
        cursor: pointer;
        background: $syncano-admin-color-two;
        align-self: flex-end;
        padding: 10px;
        color: $syncano-admin-color-four;
        border-radius: 50px;
        font-size: 16px;
        appearance: none;
        -webkit-appearance: none;
        outline: 0;
        border: 0;
      }
    }
  }

  .open-categories {
    display: none;
  }

  .SyncanoCategories {
    display: block;
    min-width: 230px;
    background: $syncano-admin-color-five;
    color: $syncano-admin-color-one;
    box-sizing: border-box;
    position: fixed;
    z-index: 9;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;

    .SyncanoLogoCompany {
      padding: 30px;

      p {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 300;
        padding-top: 10px;
        letter-spacing: 1.5px;
        font-family: 'Roboto';
      }

      img {
        display: block;
        height: 80px;
        width: auto;
        margin: 0 auto;
      }
    }

    .Models,
    .Settings {
      display: flex;
      flex-flow: column nowrap
    }

    .Models {
      background: $syncano-admin-color-two;
      padding: 10px 0;
    }

    .Settings {
      background: $syncano-admin-color-two;
      padding: 10px 0;
    }

    .SyncanoCategoryTitle {
      font-weight: 700;
      color: $syncano-admin-color-five;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      padding: 15px 30px;
    }

    .SyncanoCategory {
      padding: 15px 30px;
      color: $syncano-admin-color-four;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      transition: .35s ease-out;
      letter-spacing: 1.2px;
      cursor: pointer;
      position: relative;

      &.LogOut {
        color: $syncano-admin-color-one;
        font-weight: 300;

        &:hover {
          background: $syncano-admin-color-one;
          color: $syncano-admin-color-five;
          font-weight: 500;
        }
      }

      &:hover {
        background: $syncano-admin-color-one;
        color: $syncano-admin-color-five;

        &::before {
          z-index: -1;
          position: absolute;
          content: "";
          bottom: 15px;
          left: 10px;
          width: 50%;
          top: 80%;
          max-width: 100%;
          background: $syncano-admin-color-four;
          box-shadow: 0 15px 10px $syncano-admin-color-four;
          transform: rotate(-3deg);
        }
      }
    }
  }

  .SyncanoContainer {
    padding-left: 230px;
    width: 100%;
  }

  @media (max-width: 767px) {

    .SyncanoCategories {
      display: none;

      &.show-categories {
        display: block;
        padding-top: 45px;
      }
    }

    .open-categories {
      background: $syncano-admin-color-five;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      transition: .35s ease-out;

      &.arrow-toggle {
        transform: rotate(180deg);
        left: 180px;
      }
    }

    .SyncanoContainer {
      padding-left: 0;
    }
  }

  @media (max-width: 420px) {

    .SyncanoLogin {

      .SyncanoInstanceName {
        margin: 0 15px;
      }

      .FormGen {
        margin: 0 15px;
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
  }
}
