@import '../vars.scss';

.MigrateContainer {

  .FormGen {
    max-width: 550px;
    margin: 40px;
    box-sizing: border-box;

    .forgenInput {
      min-width: 200px;
      margin: 6px;
      box-sizing: border-box;
      display: inline-block;

      &:nth-child(1),
      &:nth-child(2) {
        width: calc(50% - 20px);
      }

      input,
      textarea {
        appearance: none;
        border: 1px solid $color-three;
        padding: 12px 20px;
        font-family: 'Lato';
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        text-transform: capitalize;
        outline: none;
        height: 100%;

        &::placeholder {
          color: $color-three;
        }
      }
    }

    .Select {
      height: auto;
      font-family: 'Lato';
      border: 1px solid $color-three;
      width: calc(100% - 26px);
      box-sizing: border-box;

      &::placeholder {
        color: $color-three;
      }
    }

    .Select-control {
      border: 0;
      padding: 5px;

      .Select-multi-value-wrapper {

        input {
          border: 0;
        }
      }
    }

    .input-textarea {
      font-family: 'Lato';
      box-sizing: border-box;
      width: calc(100% - 26px);

      textarea {
        min-height: 130px;
      }
    }
  }

  .Submit {
    margin: 10px 20px 0 auto;
    background: $color-one;
    color: $color-two;
    font-size: 18px;
    display: block;
    width: 100px;
    text-align: center;
    padding: 10px 20px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Lato';
    cursor: pointer;
  }

  .MigrationStatus {
    margin: 20px 10px;
  }

  @media (max-width: 1023px) {

    .FormGen {
      margin: 40px 20px;
    }
  }

  @media (max-width: 500px) {

    .FormGen {
      max-width: 100%;

      .forgenInput {

        &:nth-child(1),
        &:nth-child(2) {
          width: calc(100% - 26px);
        }
      }
    }
  }
}
