@for $i from 1 through 30 {
	@keyframes alert-#{$i} {
		0% {
			right     : -400px;
			margin-top: 20px;
		}
		10% {
			right     : 40px;
			margin-top: 20px;
		}
		80% {
			right     : 40px;
			margin-top: 20px;
			opacity   : 1.0;
		}
		90% {
			right     : 40px;
			margin-top: -100px;
			opacity   : 0.0;
		}
		100% {
			right     : -400px;
			margin-top: -100px;
			opacity   : 0.0;
		}
	}
	.anim-alert-#{$i} {
		animation-name    : alert-#{$i};
		animation-duration: 6s;
	}
}
.Alert {
	width          : 320px;
	height         : 100px;
	align-items    : center;
	justify-content: center;
	display        : flex;
	flex-flow      : column nowrap;
	position       : relative;
	right          : -400px;
	background     : white;
	box-shadow     : rgba(0,0,0,0.7) 0 0 3px;
	.Text {
		padding: 20px;
	}
}