@import "../../material/vars.scss";
.Coop {
	width      : 100%;
	height     : 100%;
	display    : flex;
	flex-flow  : row nowrap;
	align-items: stretch;
	.Users {
		@extend .side_menu_template;
		.main_bar {
			@extend .upper_bar;
		}
		.ListWrapper {
			@extend .vertical_scroll_wrapper;
			flex: 1;
			.List {
				@extend .vertical_scroll;
				@extend .side_list_template;
			}
		}
	}
	.Messages {
		flex: 1;
		.Title {
			@extend .upper_bar_white;
		}
		.List {
			flex      : 1;
			padding   : 0 10px;
			overflow-y: scroll;
			.DayMessages {
				background-color: white;
				margin          : 10px 0;
				padding-bottom  : 20px;
				.DateBar {
					border-bottom: 1px solid #ccc;
					color        : #ccc;
					font-style   : italic;
					padding      : 20px 20px 0;
				}
			}
		}
		.Enter {
			
		}
	}
	input {
		width: 100%;
	}
}