@import "../../material/vars.scss";
.DocsContainer {
	display  : flex;
	flex-flow: row nowrap;
	height   : 100%;
	.Klienci {
		@extend .side_menu_template;
		.main_bar {
			@extend .upper_bar;
			.add {
				@extend .side_menu_add;
			}
		}
		.list {
			@extend .side_list_template;
		}
	}
	.Docs {
		flex: 1;
		@extend .main_menu_template;
		.Title {
			@extend .upper_bar_white;
		}
		.add {
			@extend .main_menu_add;
		}
		.DocsContent {
			@extend .main_menu_content;
		}
	}
}