@import "../../material/vars.scss";
.Legal {
	@extend .right_side;
	.Title {
		@extend .upper_bar_white;
		input {
			width        : 300px;
			border-radius: 4px;
			border       : 3px solid lighten($topColor, 30%);
		}
	}
	width: 100%;
	.Phrases {
		@extend .main_menu_content;
		.empty {
			padding  : 20px;
			font-size: 24px;
			color    : darken(white,10%);
		}
		.Phrase {
			@extend .main_list_item;
			.Translation {
				display      : flex;
				flex-flow    : row nowrap;
				font-size    : 16px;
				margin-bottom: 5px;
				.Polski {
					font-weight: 900;
				}
				.Space {
					margin: 0 5px;
				}
				.Angielski {
					
				}
			}
			.Kategoria {
				cursor: pointer;
			}
		}
	}
}