@import "../material/vars.scss";
.MenuProfil {
	display         : flex;
	flex-flow       : column;
	background-color: darken($topColor, 3%);
	box-shadow      : rgba(0,0,0,0.2) 0 3px 18px;
	z-index         : 2;
	a {
		padding        : 10px;
		border         : #333;
		text-transform : uppercase;
		display        : flex;
		align-items    : center;
		justify-content: center;
		width          : 100px;
		height         : 100px;
		border-bottom  : darken($topColor,5%) solid 1px;
		svg {
			fill        : transparent;
			stroke-width: 3px;
			width       : 30px;
			stroke      : white;
			transition  : $transition;
		}
		&.active {
			svg {
				stroke: $mainColor;
			}
		}
	}
}