$syncano-admin-color-one: #fff;
$syncano-admin-color-two: #b9bccc;
$syncano-admin-color-three: rgba(255,255,255,0.2);
$syncano-admin-color-four: #46546e;
$syncano-admin-color-five: #151419;
$syncano-admin-color-six: #db0000;
$syncano-admin-color-seven: #00A0E0;
$syncano-admin-color-eight: #eff0f7;
$transition: 0.5s all;
